<div class="about-container">
  <div class="content-section">
    <div class="banner-section">
      <img [src]="bannerImage" alt="About Us Banner" class="banner-image">
    </div>

    <h2 class="section-title">Despre Noi</h2>
    
    <div class="mission-vision-section">
      <div class="vision-mission-card">
        <h3>Misiunea Noastră</h3>
        <p>{{ mission }}</p>
      </div>
      <div class="vision-mission-card">
        <h3>Viziunea Noastră</h3>
        <p>{{ vision }}</p>
      </div>
    </div>
  </div>
</div>
