<nav>
  <div class="nav-content">
    <a routerLink="/" class="logo">
      <img src="assets/images/logo-cssprofix.png" alt="CSS PROFIX Logo" class="logo-img">
      <span class="logo-text">CSS PROFIX</span>
    </a>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active">Acasă</a>
      <a routerLink="/portfolio" routerLinkActive="active">Portofoliu</a>
      <a routerLink="/about" routerLinkActive="active">Despre Noi</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
</div>
</nav>
